.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#vis {
  width: 2000;
  height: 3000;
  float:inherit;
}

#container {
  max-width: 1000;
  max-height: 700;
}

#focus {
  width: 1000;
  height: 700;
}

div.tooltip{
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 10px;
  background-color: rgba(237, 244, 255, 0.7);
  box-shadow: rgb(0 0 0 / 20%) 2px 2px 5px;
  backdrop-filter: blur(2px);
  color: rgb(33, 51, 79);
  font-family: sans-serif;
  top: 791px;
  left: 572px;
}