html,
body {
	width: 100%;
	height: 100%;
	min-height: 800px;
	min-width: 1200px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.spinner {
	background-color: var(--spinner_background_color);
	width: 40px;
	height: 40px;
	margin: 20px auto;
	-webkit-animation: sk-rotateplane 3.0s infinite ease-in-out;
	animation: sk-rotateplane 3.0s infinite ease-in-out;
	border-radius: 5px;
	box-shadow: 0 0 8px 2px var(--spinner_shadow_color);
}
@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	25% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
	75% {
		-webkit-transform: perspective(120px) rotateY(360deg) rotateX(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(360deg) rotateX(360deg);
	}
}
@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	25% {
		transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}
	75% {
		transform: perspective(120px) rotateX(-360deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-360deg) rotateY(-180deg);
	}
	100% {
		transform: perspective(120px) rotateX(-360deg) rotateY(-360deg);
		-webkit-transform: perspective(120px) rotateX(-360deg) rotateY(-360deg);
	}
}

/*
Scrollbar
 */
::-webkit-scrollbar {
	-webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
	width: 12px;
}
::-webkit-scrollbar:horizontal {
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}
::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, 0.5);
}

.spinner {
	box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.8);
}

.page {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

.title {
	/*display: flex;*/
	/*flex-direction: row;*/
	background-color: #2EE770;
	/*color: rgba(255, 255, 255, 0.8);*/
	color: #fff;
	/*color: #2D46B9;*/
	padding: 8px 16px;
	font-weight: bold;
	font-size: 0.9em;
}

.left_pane,
.right_pane {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	width: 50%;
	height: 100%;
}
.left_pane {
	border-right: 2px solid #222;
}

.left_pane > .top_pane {
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #343A40;
}
.left_pane > .bottom_pane {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #343A40;
}

.right_pane > .top_pane {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #343A40;
	max-height: 50%;
}
.right_pane > .bottom_pane {
	display: flex;
	flex-direction: row;
	flex-wrap: false;
	flex-grow: 1;
	background-color: #343A40;
	max-height: 50%;
	border-top: 2px solid #222;
}

.right_pane > .bottom_pane > .right_pane {
	flex-grow: 1;
}
.right_pane > .bottom_pane > .left_pane {
	flex-grow: 1;
}

.play_pane {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.play_pane > .left_pane {
	flex-grow: 1;
	flex-shrink: 0;
	max-width: 250px;
	height: 100%;
	border-right: 2px solid #222;
}
.play_pane > .right_pane {
	flex-grow: 1;
	/*border-top: 2px solid #222;*/
}

#scatter_plot_buttons {
	flex-grow: 0;
	flex-shrink: 0;
}
#scatter_plot {
	flex-shrink: 1;
	flex-grow: 1;
	position: relative;
	text-align: center;
}

label.input-group-text {
	width: 110px;
}

#table {
	background-color: #343A40;
	height: 250px;
	padding: 4px 16px;
	overflow: auto;
	white-space: nowrap;
}
#table td {
	max-width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
}
#table .table_row_highlight {
	background-color: #777;
	transition: 200ms all;
}
#table .table_row {
	max-width: 200px;
}
#table .table_row:hover {
	color: #40abff;
	transition: all 100ms;
}

#pcoord_plot {
	flex-grow: 1;
}

#bar_chart {
	flex-grow: 1;
	overflow: hidden;
}

.white_axis line {
	stroke: #aaa;
}
.white_axis path {
	stroke: #aaa;
}
.white_axis text {
	fill: #eee;
}

label {
	background-color: #222 !important;
	color: #fff !important;
	border: none !important;
	border-radius: 0 !important;
}

input,
select {
	background-color: #222 !important;
	color: #fff !important;
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

#pcoord_select option {
	color: #777;
}
#pcoord_select option.active {
	color: #fff;
}
#pcoord_select option:focused,
#pcoord_select option:active {
	background-color: #fff;
	color: #f00;
}

#radar_plot {
	flex-shrink: 1;
	flex-grow: 1;
	position: relative;
	text-align: center;
}