#pieChart{
  cursor: pointer;
}
#lineChart {    
	position:absolute;
	top:10px;
	left:400px;
}

.slice {
  font-size: 11pt;
  font-family: Verdana;
  fill: white;
  /* font-weight: bold;	 */
} 

/*for line chart*/
.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; 
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 3px;
}

.dot {
  /*fill: white;*/
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
  }
				

.axis text {
  font-family: Verdana;
  font-size: 11px;
}

.title {
	font-family: Verdana;
  font-size: 15px;	
		
}

.xAxis {
  font-family: verdana;
  font-size: 11px;
  fill: black;
}  

.yAxis {
  font-family: verdana;
  font-size: 11px;
  fill: white;
}

  
table {
	border-collapse:collapse;
	border: 0px;	
	font-family: Verdana;	
	color: #5C5558;
	font-size: 12px;
	text-align: right;			
}

td {
	padding-left: 10px;		
}

#lineChartTitle1 {
	font-family: Verdana;
	font-size  : 14px;
	fill       : lightgrey;
	font-weight: bold;
	text-anchor: middle;
}

#lineChartTitle2 {
	font-family: Verdana;
	font-size  : 18px;
	fill       : grey;
	text-anchor: middle;
	font-weight: bold;
}
