.geoPageLayout{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.geoPageLayout .header{
    flex-basis: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #038cfc;
    font-weight: bold;
    display: flex;
}

.geoPageLayout .GMcontainer{
    flex-basis: 90%;
    width: 100%;
    align-items: center;
    justify-content:center;
    background-color: #038cfc;
    display: flex;
    flex-direction: row;
}
.geoPageLayout .GMcontainer .map{
    display: flex;
    flex-basis: 80%;
    height: 95%;
    background-color: white;
}

.geoPageLayout .GMcontainer .controlPanel{
    display:flex;
    flex-basis: 15%;
    height: 95%;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.geoPageLayout .GMcontainer .controlPanel select{
    width: 90%;
}



