.GeoSKYPageLayout{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.GeoSKYPageLayout .header{
    flex-basis: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #038cfc;
    font-weight: bold;
    display: flex;
}

.GeoSKYPageLayout .SKYcontainer{
    flex-basis: 90%;
    width: 100%;
    align-items: center;
    justify-content:center;
    background-color: #038cfc;
    display: flex;
    flex-direction: row;
}
.GeoSKYPageLayout .SKYcontainer .SKY{
    display: flex;
    flex-basis: 70%;
    height: 95%;
    background-color: white;
}

.PCSKYPageLayout{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}


.PCSKYPageLayout .header{
    flex-basis: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-weight: bold;
    display: flex;
}

.PCSKYPageLayout .SKYcontainer{
    flex-basis: 90%;
    width: 100%;
    align-items: center;
    justify-content:center;
    background-color:black;
    display: flex;
    flex-direction: row;
}
.PCSKYPageLayout .SKYcontainer .SKY{
    display: flex;
    flex-basis: 70%;
    height: 95%;
    background-color: white;
    border: black;
    border-radius: 1px;
    border-style: solid;
}

.geoPageLayout .SKYcontainer .controlPanel{
    display:flex;
    flex-basis: 25%;
    height: 95%;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.PCSKYPageLayout .SKYcontainer .controlPanel{
    display:flex;
    flex-basis: 25%;
    height: 95%;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.controlPanel .info_window{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5% 5% 5% 5%;
    flex-basis: 20%;
}

input[type="range"]{
    transform: rotate(270deg);
    width: 30vh;
    flex-basis: 40%;


}

