h1 {
    color: black;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* #bar {
    color: fuchsia;
} */

#myClass {
    color: white;
}

body{
    background-color : #1ed760;
}

.header {
    font-weight : bold;
    font-size: larger;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* padding-left: 50px; */
    /* background-color: black; */
}