h1 {
    color: black;
}

#mainTitle {
    color: rgba(202, 96, 47, 0.89);
    font-size:4em;
}

#subTitle{
    color: #6495ED;
    font-size:2em;
}

#range{
    font-size:2em;
    font-weight: bold;
}


#map__container{
    width: 900px;
    height: 350px;
    left: 0px
}

#sliderContainer {
    margin: 20px 0 10px 20px;
    width: 800px;
    position:absolute;
    top: 100px;
    left: 0px;
  }


#map__text {
    margin: 20px 0 10px 20px;
    width: 300px;
    position:absolute;
    top: 0px;
    left: 100px;
    font-size:1.5em;
    color: red;
  }

  #temp_text {
    margin: 20px 0 10px 20px;
    width: 300px;
    position:absolute;
    top: 30px;
    left: 100px;
    font-size:1.5em;
    color: red;
  }

  #fuel_text {
    margin: 20px 0 10px 20px;
    width: 300px;
    position:absolute;
    top: 60px;
    left: 100px;
    font-size:1.5em;
    color: red;
  }

  #wind_text {
    margin: 20px 0 10px 20px;
    width: 300px;
    position:absolute;
    top: 90px;
    left: 100px;
    font-size:1.5em;
    color: red;
  }

  #degree_text {
    margin: 20px 0 10px 20px;
    width: 300px;
    position:absolute;
    top: 120px;
    left: 100px;
    font-size:1.5em;
    color: red;
  }

  #scatter{
    background-color: #C0C6C6;
    position:relative;
    top: 800px;
  }

  #radar{
    background-color: #C0C6C6;
    position:relative;
    top: 800px;
  }

  #container{
  width: 915px;
  height: 400px;
  background-color: #C0C6C6;
}


.help-tip{
    position: absolute;
    top: 20px;
    right: 18px;
    text-align: center;
    background-color: #C21E56;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{   
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}


/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}